.chronometerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: left ;
    width: 120px;
}

.clock {
    font-size: 100px;
    color: gray;
}
