<div class="chronometerContainer">

    <svg *ngIf="!loading" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg>
     <span *ngIf="loading" class="clock">{{clock}}</span>

    <div class="alignPlugins">

        <select #teams (change)="regionSet(teams.value)" class="form-select form-select-sm">
            <option *ngFor="let countrie of countries" value="{{countrie}}">{{countrie}}</option>
        </select>

        <div class="chooseAlarm mb-1 row">
            <label for="chooseAlarm" class="form-label col-sm-4">Choose alarm</label>
            <div class="col-sm-8">
                <select #choose (change)="setAlarmSound(choose.value)" id="chooseAlarm" class="form-select form-select-sm">
                    <option *ngFor="let alarmMulti of alarmMultimedia; let i = index" [value]="i">
                         <span>{{alarmMulti.name}}</span>
                    </option>
                </select>
            </div>
        </div>

        <div class="alarms mt-1 row mb-1">
            <div class="col-sm-6">
                <input type="datetime-local" [(ngModel)]="alarm" class="form-control form-control-sm">
            </div>
            <button (click)="setAlarm()" [disabled]="alarm == 0 " class="btn btn-success col-sm-3">Set Alarm</button>
        </div>

        <div *ngFor="let scheduledAlarm of scheduledAlarms" class="form-number">{{scheduledAlarm.completeDate}}</div>

        <app-recurrent-alarm></app-recurrent-alarm>
    </div>
</div>