<div class="chronometerContainer">

    <svg *ngIf="!loading" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg>
     <span *ngIf="loading" class="clock">{{clock}}</span>

    <div class="alignPlugins">

        <input (keyup)="searchByRegion($event)" placeholder="search by country">

        <select #countrie (change)="regionSet(countrie.value)">
            <option selected></option>
            <option *ngFor="let countrie of countriesFiltered" value="{{countrie}}">{{countrie}}</option>
        </select>

        <div class="chooseAlarm">Choose alarm
            <select #choose (change)="setAlarmSound(choose.value)">
                <option *ngFor="let alarmMulti of alarmMultimedia; let i = index" [value]="i">
                     <span>{{alarmMulti.name}}</span>
                </option>
            </select>
        </div>

        <div class="alarms">
            <input type="datetime-local" [(ngModel)]="alarm">
            <button (click)="setAlarm()" [disabled]="alarm == 0 ">Set Alarm</button>
        </div>

        <div *ngFor="let scheduledAlarm of scheduledAlarms; let i = index" (click)="deleteScheduledAlarm(i)"><span>{{scheduledAlarm.completeDate}}</span><span>X</span></div>

        <app-recurrent-alarm></app-recurrent-alarm>
    </div>
</div>