<div class="chronometerContainer">
    <span class="clock">{{clock}}</span>
    <select #teams (change)="regionSet(teams.value)">
        <option *ngFor="let countrie of countries" value="{{countrie}}">{{countrie}}</option>
    </select>

    <div> <span>Setear alarma recurrente cada </span> <input type="number" [(ngModel)]="recurrentActionSetted"> <span> minutos.</span></div>

    <div class="alarms">
        <input type="datetime-local" [(ngModel)]="alarm">
        <!-- 
        <input type="text" placeholder="Minutes" [(ngModel)]="alarm.minute">
        <input type="text" placeholder="Seconds" [(ngModel)]="alarm.second"> 
        -->
        <button (click)="setAlarm()" [disabled]="alarm == 0 ">Set Alarm</button>
    </div>

    <div *ngFor="let scheduledAlarm of scheduledAlarms">{{scheduledAlarm.completeDate}}</div>
</div>